@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto Slab' serif;
    min-height: 100vh;
}

html{
    scroll-behavior:smooth;
}

/*seccion 2*/
.card:hover{
    box-shadow: 0 0 15px;
    transform: 2s ease;
}

.card-body a{
    background-color:hsla(211, 90%, 47%, 1) ;
    border: none;
    text-decoration: none;
}
.card-body a:hover{
    background-color: hsla(148, 100%, 47%, 1) ;
}

/*sección 4*/
form{
    height: 600px;
}

/*boton de arriba*/
.scroll-top-container{
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width:1rem ;
    height: 2rem;
    z-index: -1;
}
.scroll-top-button{
    width:0rem ;
    height:0rem;
    background:hsla(211, 90%, 47%, 1);
    border-radius:50% ;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) ;
    z-index: -1;
}
.scroll-top-button i{
    position: absolute;
    font-size: 1.7rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgb(21, 20, 20);
    transition: .2s;
}
.show{
    z-index: 10;
}
.show .scroll-top-button{
    animation: popop .3s ease ease-in-out;
    width: 3rem;
    height: 3rem;
    z-index: 1;
}
.show i{
    transform: translate(-50%, -50%) scale(1);
}
@keyframes popop{
    0%{
        width: 0rem;
        height: 0rem;
}
    50%{
       width: 8rem;
       height: 8rem; 
}
    100%{
        width: 6.6rem;
        height: 6.6rem;
}
}

@media (max-width:768px){
    .navbar-nav > li:hover{
        background-color: rgb(62, 146, 236);
        border-radius: 60px;
    }
}


@media (max-width:768px){
    footer a {
        display: none;
      }
}

#text:valid{
    border-color: #dee2e6;
    background-image: none;
}